* {
  margin:0;
  padding:0;
  text-align: center;
  font-weight: 300;
  font-family: 'Open Sans';
}
/*body {
  font-weight: 300 lighter;
}*/
header {
  background-color: #404041;
  top: 0px;
  width: 100%;
  text-align: center;
  color: #ed458b;
  font-weight:700;
}
h1 {
  font-weight: 700;
  font-size: 3rem;
}
.guesser {
  color: #e6e7e8;
  font-weight: 300;
}
/*h3 {*/
  /*color: #ed458b;*/
/*}*/
.submit {
  background-color: #929497;
  color: #ffffff;
  border-radius: 30px;
  font-family: 'Open Sans'
}
.submit:hover {
  background-color: #eb008b;
}
.submit:disabled {
  background-color: #d0d2d3;
  color: white;
}
.small {
  width: 80px;
}
.large {
  width: 200px;
}
.top-buttons {
  margin: 10px;
}
p {
  color: #eb008b;
  font-size: 14rem;
  margin: 10px;
  /*font-weight: 300;*/
}
.text-guess {
  width: 30%;
  margin-top: 20px;
}
h2 {
  color: #404041;
}



